#### Pandas Data Series [Exercise]

In [2]:
# Importing Packages
import pandas as pd
import numpy as np

In [3]:
# 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module
df = pd.Series([5,3,6,10,11])
df

0     5
1     3
2     6
3    10
4    11
dtype: int64

In [4]:
# 2. Write a Pandas program to convert a Panda module Series to Python list and it's type
type(df)
df.tolist()  # converts the series to a python list

[5, 3, 6, 10, 11]

In [5]:
# 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
df = pd.Series([5,3,6,10,11])
df1 = pd.Series([14,13,16,12,21])
Add = df + df1
Add

0    19
1    16
2    22
3    22
4    32
dtype: int64

In [6]:
# 3. Write a Pandas program to subtract, multiple and divide two Pandas Series.
Subtract = df - df1
Subtract

0    -9
1   -10
2   -10
3    -2
4   -10
dtype: int64

In [7]:
# 3. Write a Pandas program to multiple and divide two Pandas Series.
Divide = df / df1
Multiply = df * df1
Multiply

0     70
1     39
2     96
3    120
4    231
dtype: int64

In [8]:
# Write a Pandas program to compare the elements of the two Pandas Series.
df = pd.Series([5,3,6,10,11])
df1 = pd.Series([14,13,16,12,21])
df==df1 # Could aslo do df>df1 or df<df1

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [9]:
#5. Write a Pandas program to convert a dictionary to a Pandas series.
sample = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
df = pd.Series(sample)
df

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [10]:
# 6. Write a Pandas program to convert a NumPy array to a Pandas series
numpy_array = [10,20,30,40,50]
df = pd.Series(numpy_array)
df

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [15]:
# 7. Write a Pandas program to change the data type of given a column or a Series.
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
df = pd.Series(s1)
change_data = pd.to_numeric(s1, errors='coerce')
change_data  # changing all the data to numeric

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [28]:
# 8. Write a Pandas program to convert the first column of a DataFrame as a Series
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [34]:
# 9. Write a Pandas program to convert a given Series to an array.
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
arr= np.array(s1.values.tolist())
arr

array(['100', '200', 'python', '300.12', '400'], dtype='<U6')

In [35]:
# 10. Write a Pandas program to convert Series of lists to one Series
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
s

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [36]:
s = s.apply(pd.Series).stack().reset_index(drop=True)
s

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [42]:
# 11. Write a Pandas program to sort a given Series
s = pd.Series(['100', '200', 'python', '300.12', '400'])
s

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [44]:
sorted_series = s.sort_values() # Sorts it in order
sorted_series

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [48]:
# 12. Write a Pandas program to add some data to an existing Series.
s = pd.Series(['100', '200', 'python', '300.12', '400'])
add = sorted_series.append(pd.Series(['500', 'php']))
add # adding 500 and php to the series

C:\Users\awedo\AppData\Local\Temp\ipykernel_8076\4054083926.py:3: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  add = sorted_series.append(pd.Series(['500', 'php']))

0       100
1       200
3    300.12
4       400
2    python
0       500
1       php
dtype: object

In [51]:
add = sorted_series.append(pd.Series(['500', 'php'])).reset_index()
add  # Now in a dataframe

C:\Users\awedo\AppData\Local\Temp\ipykernel_8076\4075913842.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  add = sorted_series.append(pd.Series(['500', 'php'])).reset_index()

   index       0
0      0     100
1      1     200
2      3  300.12
3      4     400
4      2  python
5      0     500
6      1     php

In [55]:
# 13. Write a Pandas program to create a subset of a given series based on value and condition
df= pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
df

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [56]:
# Printing all the numbers less than 6
n =6 
df2 = df[df<n]
df2

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [57]:
# 14. Write a Pandas program to change the order of index of a given series
data  = pd.Series(data = [15,16,17,18,19], index = ['1', '2', '3','4','5'])
data

1    15
2    16
3    17
4    18
5    19
dtype: int64

In [60]:
data  = pd.Series(data = [15,16,17,18,19], index = ['1', '2', '3','4','5'])
data = data.reindex(index=['5','3','2','4','1'])
data

5    19
3    17
2    16
4    18
1    15
dtype: int64

In [64]:
# 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series
df = pd.Series([1,3,4,6,7,8,15])
df.mean() # MEAN

6.285714285714286

In [65]:
df.std() # STD

4.535573676110727

In [78]:
# 16. Write a Pandas program to get the items of a given series not present in another given series
df = pd.Series([5,3,6,10,11])
df1 = pd.Series([14,13,16,12,21])
not_present = df[df.isin(df2)] # numbers of df not present in df2
not_present

0    5
1    3
dtype: int64

In [82]:
# 17. Write a Pandas program to get the items which are not common of two given series
df = pd.Series([1,2,3,4,5])
df1 = pd.Series([2,4,6,8,10])
set1 = pd.Series(np.union1d(df, df2))
set2= pd.Series(np.intersect1d(df, df2))
result = set1[set1.isin(set2)]
result

1    1
2    2
3    3
4    4
5    5
dtype: int64